.passwordHint {
  background: #fff;
  border-radius: 5px;
  border: 1px solid #a9b4bd;
  padding: 20px 10px 10px;
  position: absolute;

  .arrow {
    background: #fff;
    height: 20px;
    left: 45%;
    position: absolute;
    top: 91%;
    transform: rotate(45deg);
    width: 20px;
  }

  p {
    color: #6e7377;
    font-size: 12px;
    font-weight: 600;
    margin-bottom: 15px;
  }

  ul {
    li {
      align-items: center;
      color: #6e7377;
      display: flex;
      font-size: 13px;
      margin-bottom: 3px;

      .checkIcon {
        color: #29dd29;
        font-size: 18px;
        margin-right: 5px;
      }

      .crossIcon {
        color: #ed1d41;
        font-size: 18px;
        margin-right: 5px;
      }
    }
  }
}
