.main {
  display: flex;
  flex-direction: column;
  padding: 16px;

  & :last-child {
    border-bottom: 0;
  }

  .searchBar {
    align-items: center;
    background: #fff;
    border-radius: 5px;
    border: 1px solid #c5cad5;
    display: flex;
    height: 46px;
    padding: 0 8px;
    width: -webkit-fill-available;

    * {
      cursor: pointer;
    }

    &:hover {
      border: 1px solid #3c8deb;
    }

    .projectContent {
      align-items: center;
      color: #333;
      display: flex;
      font-size: 14px;
      width: 100%;
      justify-content: space-between;
      font-weight: 600;

      .snowFlake {
        background: #3db1ef;
        border-radius: 3px;
        font-size: 14px;
        margin-right: 12px;
        padding: 3px;
        color: #fff;
      }

      .projectTitleWrap {
        display: flex;
        align-items: center;
        margin-right: 5px;
        overflow: hidden;

        > div {
          display: flex;
        }

        > span {
          white-space: nowrap;
          text-overflow: ellipsis;
          overflow: hidden;
        }
      }

      .trackerIcon {
        width: 18px;
        height: 18px;
        margin-right: 5px;
      }
    }

    .arrowIconWhite {
      position: relative;
      top: 2px;

      path {
        fill: #333;
      }
    }

    .inputField {
      border: none;
      color: #000;
      font-size: 16px;
      font-weight: 500;
      margin: 0 10px;
      width: calc(100% - 20px);
    }

    .searchIcon {
      height: 26px;
      position: relative;
      top: 1px;
      width: 26px;

      g {
        fill: #808da3;
      }
    }

    .chosenProjectBadge {
      align-items: center;
      background-color: #333d47;
      border-radius: 4px;
      box-sizing: border-box;
      color: #fff;
      display: flex;
      font-size: 12px;
      font-weight: 600;
      height: 28px;
      justify-content: space-between;
      margin-left: 10px;
      padding: 0 8px;
      width: 113px;

      & > div {
        width: 14px;
      }

      p {
        margin: 0 8px 0 2px;
        max-height: -webkit-fill-available;
        max-width: 100%;
        overflow: hidden;
        text-overflow: ellipsis;
        white-space: nowrap;
      }

      .closeBadgeIcon {
        cursor: pointer;
        font-size: 14px;
      }
    }

    .issueBadge {
      background: #76c545;
      padding: 5px 0px 5px 8px;
      width: 104px;

      .closeBlock {
        align-items: center;
        border-left: 1px solid #ffffff61;
        display: flex;
        height: -webkit-fill-available;
        margin: 0 2px;
        padding: 0 2px;
      }
    }

    .closeButton {
      color: #cfd3dc;
      cursor: pointer;
      font-size: 22px;

      * {
        cursor: pointer;
      }

      &:hover {
        color: #68b8f5;
      }
    }

    .placeholder {
      font-size: 16px;
      font-weight: 500;
      color: #a0abba;
      margin: 2px 0 0 10px;
      width: 100%;
    }
  }

  > .projectBlock {
    background: #fff;
    border: 1px solid #c5cad5;
    cursor: pointer;
    justify-content: space-between;
    padding: 0 10px;

    .arrowDownBlock {
      align-items: center;
      border-left: 1px solid #c5cad5;
      display: flex;
      height: 65%;
      padding-left: 8px;
    }
  }
}

.dropDown {
  background: #fff;
}

.highlighted {
  background-color: #48adfa5c;
}

.searchContainer {
  padding: 16px;
}

.spinnerPage {
  align-items: center;
  background: #fff;
  display: flex;
  height: -webkit-fill-available;
  justify-content: center;
  left: 0;
  width: -webkit-fill-available;
  z-index: 2;
  position: absolute;
  top: 0;
  height: calc(100% - 53px);
}

.manualModal {
  top: 53px;
}
