.passwordValidateBlock {
  background: #fff;
  border-radius: 5px;
  border: 1px solid #a9b4bd;
  padding: 20px 10px 15px;
  position: absolute;
  bottom: calc(100% + 15px);
  left: 50%;
  transform: translateX(-50%);
  z-index: 3;
  width: 200px;

  h3 {
    color: #6e7377;
    font-size: 13px;
    font-weight: 600;
    margin-bottom: 15px;
  }

  &:before {
    content: '';
    background: #fff;
    height: 20px;
    position: absolute;
    width: 20px;
    border-radius: 3px;
    left: 50%;
    transform: translateX(-50%) rotate(45deg);
    bottom: -8px;
    z-index: -1;
  }

  ul {
    color: #6e7377;
    font-size: 14px;

    li {
      padding-left: 20px;
      position: relative;
      &:not(:last-child) {
        margin-bottom: 5px;
      }

      &:before {
        content: '✖';
        position: absolute;
        left: 0;
        top: 50%;
        transform: translateY(-50%);
        width: 14px;
        height: 14px;
        border-radius: 50%;
        display: flex;
        justify-content: center;
        align-items: center;
        color: #ed1d41;
        line-height: 1;
        font-size: 14px;
      }

      &.valid {
        &:before {
          content: '✔';
          color: #29dd29;
        }
      }
    }
  }
}
