.removeIntegrationBtn {
  position: absolute;
  left: 50%;
  transform: translateX(-50%);
  bottom: 0;
  cursor: pointer;
  color: #1991eb;
  font-size: 14px;
  font-weight: 700;
  line-height: 1;
  background: transparent;
  border: none;
  padding: 0 22px 0 0;

  &:after,
  &:before {
    content: '';
    position: absolute;
    right: 0;
    top: 50%;
    transform: translateY(-50%);
    height: 2px;
    background: #1991eb;
    width: 15px;
  }

  &:after {
    transform: rotate(-45deg);
  }

  &:before {
    transform: rotate(45deg);
  }
}
